<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks to trust in GParkin</h1>
    <p>
      Below you'll see your invoice <br>
    </p>

    <% @items.each do |elemento|%>
      <strong> <%= elemento[0].round %> minutos </strong>
      <strong> <%= "En el horario de #{elemento[1]} a
      #{elemento[2]}"%> </strong> <br>
      <strong> <%= "Esto te costo #{elemento[3].round}"%> </strong>
      <br>
    <% end %>
    <br>

    <p>Others issues</p>
    <br>
    <p>Level ocupation = <%= @level_ocupation_tax %></p>
    <p>Reservation = <%= @reservation_tax %></p>
    <br>
    <h3>Total = <%= @sum_precio + @level_ocupation_tax +
    @reservation_tax %></h3>

    <p>Have a great day and see you soon!</p>

  </body>
</html>
