<!doctype html>
  <html class="no-js" lang="en">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Welcome to Gparking</title>
      <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin=""/>
  </head>
<body>

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">GParking</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><%= link_to 'People', people_path %></li>
      <li><%= link_to 'Railcars', railcars_path %></li>
      <li><%= link_to 'Records', records_path %></li>
    </ul>
  </div>
</div>

<div class="callout large primary">
  <div class="row column text-center">
    <h1>Welcome to GParking</h1>
  </div>
</div>
<div class="row" id="content">
  <div class="medium-8 columns">


    <%= render "records/record" %>
    <%= link_to 'Enter Car', new_record_path %>
  </div>
  <%= render "welcome/side_ocupation" %>
</div>

<div id="mapid"></div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>
<script>
  $(document).foundation();
  new WelcomeView();
</script>

</body>
</html>