<!doctype html>
  <html class="no-js" lang="en">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Welcome to Gparking</title>
      <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin=""/>
    </head>
<body>

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">GParking</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><%= link_to 'People', people_path %></li>
      <li><%= link_to 'Railcars', railcars_path %></li>
      <li><%= link_to 'Records', records_path %></li>
    </ul>
  </div>
</div>

<div class="callout large primary">
  <div class="row column text-center">
    <h1>Welcome to GParking</h1>
  </div>
</div>

<div class="row" id="content">
  <div class="medium-8 columns">


    <%= render "records/record" %>
    <%= link_to 'Enter Car', new_record_path %>

    <div id="mapid">
      <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
              integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
              crossorigin=""></script>

      <script type="text/javascript" charset="utf-8">

          var mymap = L.map('mapid').setView([11.000000, -74.806984], 13);

          createMap(mymap);

      </script>

    </div>
    <br>

    <% markers = Parking.select(:id, :par_name, :par_latitude, :par_longitude).distinct.
        joins(:prices, :spaces).where(par_state: true) %>
    <% markers.each do |m| %>
      <% popcarro = Price.connection.select_all(
          "SELECT prices.tipo_carro, prices.hora_inicio, prices.hora_fin,
             prices.valor
           FROM prices INNER JOIN parkings ON prices.parking_id = parkings.id
           WHERE prices.estado = true AND parkings.id = #{m['id']} AND
             prices.tipo_carro = 'CARRO' AND
             prices.hora_inicio <= '#{Time.now.strftime('%H:%M:%S')}' AND
             prices.hora_fin >= '#{Time.now.strftime('%H:%M:%S')}'"
      ).to_hash %>

      <script>

          markers(`<%= popcarro[0]['tipo_carro'] %>`,
                  `<%= popcarro[0]['valor'] %>`,
                  `<%= popcarro[0]['hora_inicio'].strftime('%H:%M:%S') %>`,
                  `<%= popcarro[0]['hora_fin'].strftime('%H:%M:%S') %>`,
                  `<%= link_to 'Horario', schedule_path(m['id']), target: "_blank" %>` ,
                  `<%= m['par_name']%>`,
                  `<%= m['par_latitude'].to_f %>`,
                  `<%= m['par_longitude'].to_f%>`, mymap);


      </script>

<!--
        <div class="reveal" id="exampleModal1" data-reveal>
          <%#park = Price.select(:tipo_carro, :hora_inicio, :hora_fin, :valor).where(
              estado: true, parking_id: m['id']) %>

        <%# render template: "welcome/schedules", locals: {parking: park} %>
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        -->

    <% end %>

  </div>

  <%= render "welcome/side_ocupation" %>

</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
  $(document).foundation();
  new WelcomeView();
</script>

</body>
</html>