<%= form_with(model: record, local: true) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %>
        prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>
  <div class="form-icons">
    <h4>Sign Up</h4>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-car"></i>
      </span>
    <%= form.text_field :railcar_id, id: :record_railcar_id,
    :required => true, :maxlength => 7, :minlength => 5,
    class:"input-group-field", placeholder: 'License Plate' %>
    </div>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-compass"></i>
      </span>
    <%= form.datetime_field :horainicio, id: :record_horafinal,
    class:"input-group-field", placeholder: 'Start AAAA-MM-DDTHH:MM:SS' %>
    </div>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-compass"></i>
      </span>
    <%= form.datetime_field :horafinal, id: :record_horafinal,
    class:"input-group-field", placeholder: 'Final AAAA-MM-DDTHH:MM:SS' %>
    </div>

    <div class="input-group">

      <span class="input-group-label">
        <i class="fa fa-car"></i>
      </span>
      <%= form.text_field :space_id, id: :space_id,
                          :required => true, :maxlength => 7, :minlength => 5,
                          class:"input-group-field", placeholder: 'ID Parking' %>

    </div>

    <div class="field">
      <%= form.label :estado %>
      <%= form.check_box :estado, id: :record_estado, :checked => true %>
    </div>

  </div>
  <button class="button expanded">Sign Up/Update</button>
</form>

<% end %>
