<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>ID_Railcar</th>
      <th>Placa</th>
      <th>Horainicio</th>
      <th>Horafinal</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.railcar_id %></td>
        <td><%= record.placa %></td>
        <td><%= record.horainicio %></td>
        <td><%= record.horafinal %></td>
        <td><%= record.estado %></td>
        <td><%= link_to 'Show', record %></td>
        <td><%= link_to 'Edit', edit_record_path(record) %></td>
        <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>