<p id="notice"><%= notice %></p>

<p>
  <strong>Railcars:</strong>
  <%= @record.railcar_id %>
</p>

<p>
  <strong>Horafinal:</strong>
  <%= @record.horafinal %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @record.estado %><br>
</p>

<%= link_to 'Edit', edit_record_path(@record) %>
<%= link_to 'Back', records_path %>
