<%= form_with(model: railcar, local: true) do |form| %>
  <% if railcar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(railcar.errors.count, "error") %>
        prohibited this railcar from being saved:</h2>

      <ul>
      <% railcar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>
  <div class="form-icons">
    <h4>Sign Up</h4>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-user"></i>
      </span>
    <%= form.text_field :person_id, id: :railcar_person_id, :required => true,
    :placeholder => 'DNI', :pattern => '\d{8,10}', :maxlength => 10,
    :minlength => 8, class:"input-group-field" %>
    </div>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-car"></i>
      </span>
    <%= form.text_field :placa, id: :railcar_placa, :required => true,
    :maxlength => 6, :minlength => 5, class:"input-group-field",
    placeholder: 'License Plate' %>
    </div>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-info"></i>
      </span>
      <%= form.text_field :marca, id: :railcar_marca, :maxlength => 20,
      :minlength => 3, :pattern => '[:alpha:]{,20}', class:"input-group-field",
      placeholder: 'Car Brand'%>
    </div>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-info"></i>
      </span>
      <%= form.text_field :modelo, id: :railcar_modelo,:maxlength => 20,
     :minlength => 3, class:"input-group-field", placeholder: 'Car Model' %>
    </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.select :tipo, options_for_select(['MOTO','CARRO','BUS']),
    id: :railcar_tipo %>
  </div>

  <button class="button expanded">Sign Up/Update</button>
 </div>
</form>
<% end %>
